// COLORS
$color_1: #fff;
$color_2: #000;
$color_3: #eff0f2;
$color_4: #777879;
$color_5: #b2f2ee;
$color_6: #d0d1d3;
$color_7: #323333;
$color_8: #848585;
$color_9: #f8fafa;
$color_10: #edeef0;
$color_11: #646565;
$color_12: #929393;
$color_13: #343434;
$color_14: #888888;
$color_15: #333;
$color_16: #858686;
$color_17: #f9fbfb;
$color_18: #525252;
$color_19: #2c3938;
$color_20: #215450;
$color_21: #f9fbfb;
$color_22: #a7a8a8;
$color_23: #eaebed;
$color_24: #7fffd4;
$color_25: #b1b2b4;
$color_26: #1b1b1c;
$color_27: #495862;
$color_28: #d2d5d7;
$color_29: #6eeee4;
$color_30: #387f7a;
$color_31: #c1c6c9;
$color_32: #3f4244;
$color_33: #6a6d6e;
$color_34: #969798;
$color_35: #606060;
$color_36: #f9f9f9;
$color_37: #c9c9c9;
$color_38: #4f4f4f;


// FONTS
$font_1: 'Montserrat';
$font_2: 'Times New Roman';
$font_3: 'Merriweather';
$font_4: 'Raleway';

$font-size_1: 16px;

// ICONS


// IMAGES


// SCREEN
$media-type_1: screen;

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;