@import 'sass/base/_normalize.scss';
@import 'sass/helpers/_mixins.scss';
@import 'sass/helpers/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    @include width-height(100%);
    font-size: $font-size_1;
}
.wrapper {
    @include width-height(80%);
    display: grid;
    grid-template-areas:
     "header"
     "about"
     "works"
     "services"
     "team"
     "say"
     "logo"
     "footer";
    margin: 0 auto;
    background-color: $color_1;
    @media #{$media-type_1} and (max-width: $screen-xl) {
        @include width-height(100%, auto);
    }
}
// HEADER
.header {
    @include width-height(100%, auto);
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(1, [col] auto );
    grid-template-rows: repeat(4, [row] auto  );
    background-color: $color_3;
    color: #444;
    &__row-1{
        grid-column: col;
        grid-row: row ;
        padding-top: 4em;
    }
    &__row-2 {
        grid-column: col;
        grid-row: row 2;
        padding-top: 12.75em;
    }
    &__row-3 {
        grid-column: col;
        grid-row: row 3;
        
    }
    &__row-4 {
        grid-column: col;
        grid-row: row 4;
        padding: 2.75em 0 9em;
        display: flex;
        direction: row;
        justify-content: center;
        align-items: center; 
    }
    &__menu {
        float: right;
        padding-top: 1em;
    }
    &__title {
        font: bold 2.7em 'Montserrat';
        text-align: center;
        padding: 0;
        margin: 0;
        text-shadow: 4px 4px 4px $color_6;
    }
    &__subtitle {
        font: bold 2.7em 'Montserrat';
        text-align: center;
        padding: 0;
        margin: 0;
        text-shadow: 4px 4px 4px $color_6;
    }
    &__bg_color_green {
        background-color: $color_5;
    }
    &__button {
        font: normal 1.15em 'Montserrat';
        padding: 1.3em 3em;
        margin: 5em 10em;
        background-color: $color_3;
        border: solid 0.1em $color_4;
        color: $color_4;        
    }
    &__button:hover {
        cursor: pointer;
    }
    &__glass {
        margin-top: 7em;
    }
    @media #{$media-type_1} and (max-width: $screen-sm) {
        @include width-height(100%, auto);
        font-size: 0.5em;
        &__row-1, &__row-2 {
            padding: 2em;
        }
        &__row-4 {
            padding: 0;
        }
        &__glass {
            display: none;
        }
    }
    @media #{$media-type_1} and (max-width: $screen-md) {
        &__glass {
            display: none;
        }
    }
    @media #{$media-type_1} and (max-width: $screen-lg) {
    }
}
// ABOUT
.about {
    @include width-height(100%, auto);
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 8.125em 0 7em;
    background-color: $color_9;
    &__upper {
        grid-column: 1 / 3;
        grid-row: 1;
        margin-bottom: 11.3em;
    }
    &__left {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }
    &__right {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
    }
    &__title {
        font: bold 2.375em $font_1;
        color: $color_7;
        text-align: center;
        margin: 0;      
    }
    &__subtitle {
        font: normal 1.25em $font_1;
        color: $color_8;
        text-align: center;
        margin: 0;   
    }
    &__outer-img {
        @include width-height(29.937em, 25.812em);
        background: rgba($color: $color_10, $alpha: 0.74);
        margin: 0 auto;
    }
    &__inner-img {
        @include width-height(24.687em, 30.375em);
        position: relative;
        top: -2.187em;
        left: 2.5em;
        background: url(../assets/img/img-services-table.png);
        background-position-x: -14.375em;
    }
    &__radio-container {
        text-align: center;
        margin-top: 5em;
    }
    &__radio-button {
        @include width-height(1.5em, 1.5em);
        border: none;
        border-radius: 0.3em;
    }
    &__radio-button:hover {
        cursor: pointer;
    }
    &__radio-button:focus {
        background-color: aquamarine;
        outline: none;
    }
    &__right-container {
        @include width-height(30.125em, 25.812em);
    }
    &__right-title {
        font: bold 1.3em $font_3;
        color: $color_11;
    }
    &__right-text {
        font: normal 1em $font_4;
        color: $color_12;
    }
    @media #{$media-type_1} and (max-width: $screen-sm) {
        font-size: 10px;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) and (max-width: $screen-md) {
        font-size: 14px;
    }
    @media #{$media-type_1} and (max-width: $screen-lg) {
        grid-template-rows: 2;
        padding: 0 0 3em 0;    
        &__right {
            grid-column: 1 / 3;
        }
        &__right {
            grid-row: 2;
        }
        &__left {
            grid-column: 1 / 3;
        }
        &__left {
            grid-row: 3;
        }
        &__upper {
            margin: 2em 0 1em;
        }
        &__right-container {
            @include width-height(90%, auto);
            margin: 0 auto;
        }
        &__right-title {
            text-align: center;
        }
        &__outer-img {
            width: auto;
            height: auto;
        }
        &__inner-img {
            width: 100%;
            position: static;
            background-position: center;
        }
    } 
}
// WORKS
.works {
    @include width-height(100%, auto);
    grid-area: works;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 8em 0;
    background-color: $color_1;
    &__header {
        text-align: center;
    }
    &__img-containers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
        grid-gap: 1.5em;
        max-width: 73.125em;
        padding: 1em;
    }
    &__title {
        font: bold 2.375em $font_1;
        color: $color_13;
        margin: 0;
    }
    &__subtitle {
        font: normal 1.1em $font_3;
        color: $color_14;
        margin-bottom: 7.8em;
    }
    &__img-container {
        position: relative;
    }
    &__img {
        @include width-height(100%);
        object-fit: cover;        
    }
    @media #{$media-type_1} and (max-width: $screen-md) {
        font-size: 10px;
        padding: 4em 0;
        &__subtitle {
            margin-bottom: 2em;
        }
    }
 }
// SERVICES
.services {    
    @include width-height(100%, auto);
    background-color: $color_17;
    font-size: 12px;
    grid-area: services;
    &__header {
        text-align: center;        
    }
    &__title{
        font: bold 2.4em $font_1;
        text-transform: uppercase;
        color: $color_15;
        margin: 0;
    }
    &__subtitle {
        font: normal 1.1em $font_1;
        color: $color_16;
        padding-bottom: 1em;
    }
    &__gallery {
        max-width: 73.125em;
        background-color: $color_17;
    }
    &__img-container {
        @include width-height(auto, 27.687em);
        position: relative;             
        background: {
            position: center;
            size: cover;
        }
    }    
    &__img-container:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $color_38;
        opacity: 0.3;
    }
    &__img-container:hover:before { opacity: 0; }
    &__img-container-content {
        @include width-height(80%);
        text-align: left;
        padding: 6em 0 2em 1em;
    }
    &__content-title {
        font: bold 1.3em $font_1;
        color: $color_36;
    }
    &__content-text {
        font: normal 1em $font_4;
        color: $color_37;
    }
    &__content-cross {
        display: none;
        margin-top: 3em;
    }
    &__content-link {
        margin-top: 3em;
    }
    &__link {
        font: 600 1.2em $font_4;
        color: $color_1;
    }
    &__img-container:hover &__img-container-content {
        @include width-height(70%);
        text-align: left;
        padding: 4em 2em;
    }
    &__img-container:hover  &__content-title {
        color: $color_32;
    }
    &__img-container:hover &__content-text {
        color: $color_33;
    }
    &__img-container:hover &__content-cross {
        display: block;
    }
    &__img-container:hover  &__content-link {
        display: none;
    }
    &__row-1 {
        background-image: url(../assets/img/img-services-bag.png);        
    }
    &__row-2 {
        background-image: url(../assets/img/img-services-docs.png);
    }
    &__row-3 {
        background-image: url(../assets/img/img-services-laptop.png);
    }
    &__row-4 {
        background-image: url(../assets/img/img-services-table.png);
    }
    &__row-5 {
        background-image: url(../assets/img/img-services-bottle.png);
    }
    &__row-6 {
        background-image: url(../assets/img/img-services-kitchen.png);
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        font-size: 16px;
        padding: 7.5em 0;
        &__subtitle {
            padding-bottom: 7.5em;
        }
        &__gallery {
            display: grid;
            grid-gap: 0.5em;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(3, [row] auto);
        }
        &__img {
            @include width-height(100%, auto);
            margin: 0.5em 0;
        }
        &__img-1 {
            height: 26.187em;
        }
        &__img-2 {
            height: 26.187em;
        }
        &__img-3 {
            height: 23.187em;
        }
        &__img-4 {
            height: 23.187em;
        }
        &__img-5 {
            height: 23.125em;
        }
        &__img-6 {
            height: 23.125em;
        }
        &__row-1 {
            grid-column: span 7;
            grid-row: row;
        }
        &__row-2 {
            grid-column: span 5;
            grid-row: row ;
        }
        &__row-3 {
            grid-column: span 7;
            grid-row: 2 ;
        }
        &__row-4 {
            grid-column: span 5;
            grid-row: 2 ;
        }
        &__row-5 {
            grid-column: span 5;
            grid-row: 3;
        }
        &__row-6 {
            grid-column: span 7;
            grid-row: 3; 
        }
    }
}
// SMALL TEAM
.team {
    @include width-height(100%, auto);
    grid-area: team;
    padding: 3em 0;
    font-size: 12px;
    margin: 0 auto;
    background-color: $color_1;
    &__header {
        text-align: center;        
    }
    &__title {
        font: bold 2.375em $font_1;
        margin: 0;
        color: $color_18;
    }
    &__subtitle {
        font: normal 1em $font_3;
        color: $color_16;
    }
    &__img-container {
        text-align: center;
    }
    &__img {
        @include width-height(80%, auto);
    }
    &__advert {
        @include width-height(80%);
        background: url(../assets/img/bg-team-advert.png) no-repeat;
        position: relative;
        top: 28%;
        left: 7%;
    }
    &__advert-container {
        width: 50%;
        padding: 3em  5em;
    }  
    &__advert-title {
        font: bold 1.3em $font_3;
        color: $color_19;
    }
    &__advert-title-italic {
        font: italic 1em $font_1;
        color: $color_20;
    }
    &__advert-text {
        font: normal 1em $font_4;
    }
    &__social {
        padding-top: 2em;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        font-size: 16px;
        padding: 7.5em 0;
        &__advert {
            position: relative;
            top: 32%;
            left: 25%;
            margin: 0;
            width: 50%;
        }
        &__advert-container {
            width: 15em;
            padding: 3em 2em;
        }  
        &__gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
            grid-gap: 1.9em;
            max-width: 73.125em;
        }
        &__img {
            @include width-height(90%, auto);
            object-fit: cover;
        }
        &__social {
            padding-top: 1em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-sm) and (max-width: $screen-lg) {         
        &__advert {
            transform: rotate(180deg);
            transform: scaleX(-1);
        }
        &__advert-container {
            transform: rotate(180deg);
            transform: scaleX(-1);
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) {
        &__advert {
            left: 25em;
        }
    }
    @media #{$media-type_1} and (min-width: $screen-lg) and (max-width: $screen-xl) {        
        &__advert {
            left: 30em;
        }
    }
}
// SAY
.say {
    @include width-height(100%, auto);
    grid-area: say;
    font-size: 12px;
    margin: 0 auto;
    background-color: $color_21;
    &__header {
        text-align: center;
    }
    &__title {
        color: $color_15;
        font: bold 3.16em $font_1; 
    }
    &__subtitle {
        font: normal 1.3em $font_3;
        color: $color_22;
    }
    &__img-container {
        padding-top: 3em;
    }
    &__img-bg {
        @include width-height(100%, 30.08em);
        background-color: $color_23;
    }
    &__img {
        @include width-height(100%, 34em);
        position: relative;
        top: -2em;
        margin: 0 auto;
        background-color: $color_11;
        background: url(../assets/img/img-team-m-2.png) no-repeat center;
    }
    &__button-container {
        margin: 4em auto;
        text-align: center;
    }
    &__button {
        @include width-height(1.5em, 1.5em);
        border: none;
        border-radius: 0.3em;
    }
    &__button:hover {
        cursor: pointer;
    }
    &__button:focus {
        background-color: $color_24;
        outline: none;
    }
    &__button_state_pressed {
        background-color: $color_24;
        outline: none;
    }
    &__main-content {
        @include width-height(100%, auto);
        background-color: $color_23;
        padding: 3em 0;
    }
    &__main-header {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    &__main-title {
        font: bold 1.66em $font_1;
        color: $color_26;
    }
    &__main-title-italic {
        font: italic 1em $font_1;
        color: $color_25;
    }
    &__main-text {
        font: normal 1.3em $font_3;
        color: $color_25;
    }
    &__stars {
        text-align: center;
    }
    &__switcher {
        text-align: center;
        display: none;
    }
    &__switcher-button {
        margin: 2em 0 0 1em;
    }   
    @media #{$media-type_1} and (min-width: $screen-lg) {
        font-size: 16px;
        padding-bottom: 7em; 
        &__main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 73.125em;
            @include width-height(90%);
            margin: 0 auto;
        }
        &__main-content {
            margin-top: 3em;
            @include width-height(nul, 18em)
        }
        &__switcher {
            display: block;
            text-align: right;
        }        
        &__img-container {
            @include width-height(90%);
        }
        &__img-bg {
            @include width-height(null, 24em);
        }
        &__img {
            top: -5em;
        }
    }
}
// LOGO
.logo {
    @include width-height(100%, 12em);
    grid-area: logo;
    background: url(../assets/img/bg-logo.png) no-repeat center;
    background-size: contain;   
    @media #{$media-type_1} and (min-width: $screen-md) {
        @include width-height(100%, 24.125em);
    }
}
// FOOTER
.footer {
    @include width-height(100%, auto);
    grid-area: footer;
    background: url(../assets/img/bg-footer-upper.png) no-repeat center;
    &__upper {
        display: grid;
        grid-template-areas:
        "form"
        "address"
        "map";
    }    
    &__form-container {
        grid-area: form; 
    }
    &__form {
        text-align: center;
        background-color: $color_27;
    }
    &__input, &__address {
        color: $color_28;
    }
    &__input {
        @include width-height(96.5%, 2em);
        font: normal 1em $font_4;
        padding-left: 0.5em;
    }
    &__input-textarea {
        resize: none;
    }
    &__input-submit {
        @include width-height(99%, 3em);
        border: none;
        margin: -0.2em;
        background-color: $color_29;
        font: normal 1.15em $font_1;
        color: $color_30;
    }
    &__address-container {
        grid-area: address;
        padding: 1em;
        background-color: $color_27;
    }
    &__address {
        font: normal 1em $font_4;
        margin: 0;
    }
    &__padding_top {
        padding-top: 1em;
    }
    &__map-outer{
        grid-area: map;
    }
    &__map {
        @include width-height(100%, 14em);
        width: 100%;
        margin: 0 auto;
        background: {
        image: url(../assets/img/bg-footer-map.png);
        position: center center;
        size: cover;
        repeat: no-repeat;
        }
    }
    &__lower {
        @include width-height(100%, auto);
        background-color: $color_27;
        text-align: center;
    }
    &__img-container {
        @include width-height(2.875em, 2.562em);
        display: inline-block;
        background-color: $color_32;
    }
    &__img-container:hover {
        background-color: $color_29;
    }
    &__lower-title {
        font: normal 1em $font_4;
        color: $color_33;
    }
    &__copyright {
        font: 600 1em $font_4;
        color: $color_34;
    }
    @media #{$media-type_1} and (min-width: $screen-sm) {
        &__upper {           
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "form form address address"
                "map map map map";
        }
    }
    @media #{$media-type_1} and (min-width: $screen-md) and (max-width: $screen-lg) {
        &__upper {           
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "form form address address"
                "map map map map";
        }
    }
    @media #{$media-type_1} and (min-width: $screen-xl) {
        &__upper {           
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "form form form address address"
                "form form form map map";
            margin: 18em 7.31em 7.31em;
        }
        &__form-container {
            grid-area: form;
            margin-right: 1.5em;
        }
        &__form {
            padding: 52px 0 0 35px;
            text-align: left;
        }
        &__input {
            @include width-height(86%, 2em);
            margin-bottom: 1em;
            background-color: $color_27;
            border: none;
            color: $color_31;
        }
        &__input-submit {
            @include width-height(9em, 3em);
            margin-top: 4em;
        }
        &__address-container {
            padding: 3em 1em 0;
        }
        &__map-outer {
            @include width-height(100%, auto);
            background-color: $color_27;
        }
        &__map {
            @include width-height(95%, 12em);
        }
        &__lower {
            padding: 2em 0;
        }
    }
}
